(edif tristate_buff_led
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2022 11 23 13 10 54)
      (author "Synopsys, Inc.")
      (program "Synplify Pro" (version "L-2016.09M-SP1-5, mapper mapact, Build 2172R"))
     )
   )
  (library PA3
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell VCC (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "1"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
    (cell TRIBUFF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property three_state (string "E'"))
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
           (port E (direction INPUT))
         )
        (property is_tristate (integer 1))
       )
    )
    (cell OUTBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port PAD (direction OUTPUT)
           (property function (string "D"))
           (property is_pad (string "true"))
 )
           (port D (direction INPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "A + B"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell NAND2 (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "!(A & B)"))
 )
           (port A (direction INPUT))
           (port B (direction INPUT))
         )
        (property is_combinational (integer 1))
       )
    )
    (cell INBUF (cellType GENERIC)
      (property preferred (string "true"))
      (property pad_cell (string "true"))
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "PAD"))
 )
           (port PAD (direction INPUT)
           (property is_pad (string "true"))
 )
         )
       )
    )
    (cell GND (cellType GENERIC)
      (property dont_touch (string "false"))
       (view prim (viewType NETLIST)
         (interface
           (port Y (direction OUTPUT)
           (property function (string "0"))
 )
         )
        (property is_pwr (integer 1))
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell tristate_buff_led (cellType GENERIC)
       (view verilog (viewType NETLIST)
         (interface
           (port clk (direction INPUT))
           (port miso1_in (direction INPUT))
           (port miso2_in (direction INPUT))
           (port mock_miso1 (direction INPUT))
           (port mock_miso2 (direction INPUT))
           (port rst (direction INPUT))
           (port ss1 (direction INPUT))
           (port ss2 (direction INPUT))
           (port miso1 (direction OUTPUT))
           (port miso2 (direction OUTPUT))
           (port miso_probe (direction OUTPUT))
         )
         (contents
          (instance miso_probe_pad (viewRef prim (cellRef OUTBUF (libraryRef PA3)))
          )
          (instance ss2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance ss1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance rst_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance mock_miso2_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance mock_miso1_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance miso2_in_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance miso1_in_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance clk_pad (viewRef prim (cellRef INBUF (libraryRef PA3)))
          )
          (instance TRIBUFF_1 (viewRef prim (cellRef TRIBUFF (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance TRIBUFF_0 (viewRef prim (cellRef TRIBUFF (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance OR2_0 (viewRef prim (cellRef OR2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance NAND2_1 (viewRef prim (cellRef NAND2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance NAND2_0 (viewRef prim (cellRef NAND2 (libraryRef PA3)))
           (property is_instantiated (integer 1))
          )
          (instance VCC_i (viewRef prim (cellRef VCC (libraryRef PA3)))          )
          (instance GND_i (viewRef prim (cellRef GND (libraryRef PA3)))          )
          (net miso1 (joined
           (portRef PAD (instanceRef TRIBUFF_0))
           (portRef miso1)
          ))
          (net miso2 (joined
           (portRef PAD (instanceRef TRIBUFF_1))
           (portRef miso2)
          ))
          (net NAND2_0_Y (joined
           (portRef Y (instanceRef NAND2_0))
           (portRef E (instanceRef TRIBUFF_0))
          ))
          (net NAND2_1_Y (joined
           (portRef Y (instanceRef NAND2_1))
           (portRef E (instanceRef TRIBUFF_1))
          ))
          (net GND (joined
           (portRef Y (instanceRef GND_i))
          ))
          (net VCC (joined
           (portRef Y (instanceRef VCC_i))
          ))
          (net clk_1 (joined
           (portRef Y (instanceRef clk_pad))
          ))
          (net clk (joined
           (portRef clk)
           (portRef PAD (instanceRef clk_pad))
          ))
          (net miso1_in_1 (joined
           (portRef Y (instanceRef miso1_in_pad))
           (portRef A (instanceRef OR2_0))
          ))
          (net miso1_in (joined
           (portRef miso1_in)
           (portRef PAD (instanceRef miso1_in_pad))
          ))
          (net miso2_in_1 (joined
           (portRef Y (instanceRef miso2_in_pad))
           (portRef B (instanceRef OR2_0))
          ))
          (net miso2_in (joined
           (portRef miso2_in)
           (portRef PAD (instanceRef miso2_in_pad))
          ))
          (net mock_miso1_c (joined
           (portRef Y (instanceRef mock_miso1_pad))
           (portRef D (instanceRef TRIBUFF_0))
          ))
          (net mock_miso1 (joined
           (portRef mock_miso1)
           (portRef PAD (instanceRef mock_miso1_pad))
          ))
          (net mock_miso2_c (joined
           (portRef Y (instanceRef mock_miso2_pad))
           (portRef D (instanceRef TRIBUFF_1))
          ))
          (net mock_miso2 (joined
           (portRef mock_miso2)
           (portRef PAD (instanceRef mock_miso2_pad))
          ))
          (net rst_1 (joined
           (portRef Y (instanceRef rst_pad))
          ))
          (net rst (joined
           (portRef rst)
           (portRef PAD (instanceRef rst_pad))
          ))
          (net ss1_c (joined
           (portRef Y (instanceRef ss1_pad))
           (portRef B (instanceRef NAND2_0))
           (portRef A (instanceRef NAND2_0))
          ))
          (net ss1 (joined
           (portRef ss1)
           (portRef PAD (instanceRef ss1_pad))
          ))
          (net ss2_c (joined
           (portRef Y (instanceRef ss2_pad))
           (portRef B (instanceRef NAND2_1))
           (portRef A (instanceRef NAND2_1))
          ))
          (net ss2 (joined
           (portRef ss2)
           (portRef PAD (instanceRef ss2_pad))
          ))
          (net OR2_0_Y_c (joined
           (portRef Y (instanceRef OR2_0))
           (portRef D (instanceRef miso_probe_pad))
          ))
          (net miso_probe (joined
           (portRef PAD (instanceRef miso_probe_pad))
           (portRef miso_probe)
          ))
         )
        (property orig_inst_of (string "tristate_buff_led"))
       )
    )
  )
  (design tristate_buff_led (cellRef tristate_buff_led (libraryRef work)))
)
